.flows.json.backup
[
    {
        "id": "b391ed8b.1ea32",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6074636a.21df0c",
        "type": "function",
        "z": "b391ed8b.1ea32",
        "name": "Simple Moving Average (SMA)",
        "func": "var moment = global.get('techmodule');\n\nconst SMA = moment.SMA\nlet period = 8;\nlet values = msg.values.value;                    \n\nvar out = {\n  values    : SMA.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "cb251ba8.b19b7"
            ]
        ]
    },
    {
        "id": "60bb71c2.c39b88",
        "type": "inject",
        "z": "b391ed8b.1ea32",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[1,2,3,4,5,6,7,8,9,10,11,12,13]}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "6074636a.21df0c"
            ]
        ]
    },
    {
        "id": "cb251ba8.b19b7",
        "type": "debug",
        "z": "b391ed8b.1ea32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 300,
        "wires": []
    }
]