.flows.json.backup
[
    {
        "id": "2ad522d6.3d80ce",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e48732d4.55da8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d92e441.b263cc",
        "type": "ui_group",
        "name": "Exchange Rate",
        "tab": "df9f8e0b.903e2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "df9f8e0b.903e2",
        "type": "ui_tab",
        "name": "Exchange Rates",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9467bbf8.1e0c18",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3a4aeaa5.e720d6",
        "type": "exchangerates-key",
        "name": "Thishani2"
    },
    {
        "id": "abd7d4f.34da828",
        "type": "firebase config",
        "firebaseurl": "sem-6b-iot-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "e6313113.5cac7",
        "type": "firebase config",
        "firebaseurl": "sem-6b-iot-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "643bdadb.c056a4",
        "type": "firebase config",
        "firebaseurl": "sem-6b-iot-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "ec9f480b.2b6f68",
        "type": "exchangerates-key",
        "name": "Thishani2"
    },
    {
        "id": "bc95624b.1f5fe",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "a2c60656.85d268"
            ]
        ]
    },
    {
        "id": "e947f495.e22668",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "a2c60656.85d268",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "func": "msg.params = {};\n// msg.params.base = 'USD'\nmsg.params.symbols = 'AUD'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "3ab86060.4ea31"
            ]
        ]
    },
    {
        "id": "dd61d5c7.f00a28",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "func": "// msg.params = {};\n// // msg.params.base = 'USD'\n// msg.params.symbols = 'KRW'\n\n// var rate = msg.payload.rates.LKR;\n// return {rate};\n\n\n// var newMsg = { 'payload2': msg.payload.rates };\n// return newMsg;\n\nvar newMsg = { payload: msg.payload.rates };\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "e947f495.e22668"
            ]
        ]
    },
    {
        "id": "73f91ed5.86456",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "9abb3a6.44104c8"
            ]
        ]
    },
    {
        "id": "dbb17019.ae2c6",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "9abb3a6.44104c8"
            ]
        ]
    },
    {
        "id": "2f2f8377.ee67cc",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "d269c741.817f68",
        "type": "ui_chart",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "group": "6d92e441.b263cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 670,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a1367960.5c4dd8",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "Simple Moving Average (SMA)",
        "func": "var moment = global.get('techmodule');\n\nconst SMA = moment.SMA\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : SMA.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 1220,
        "wires": [
            [
                "77d9c891.b79028"
            ]
        ]
    },
    {
        "id": "6220ff02.4761a",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[127.75,129.02,132.75,145.4,148.98,137.52,147.38,139.05,137.23,149.3,162.45,178.95,200.35,221.9,243.23,243.52,286.42,280.27],\"period\":4}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 1240,
        "wires": [
            [
                "a1367960.5c4dd8"
            ]
        ]
    },
    {
        "id": "77d9c891.b79028",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1200,
        "wires": []
    },
    {
        "id": "54e555e0.e31d7c",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "MACD",
        "func": "var moment = global.get('techmodule');\nvar MACD = moment.MACD;\n\n\nvar macdInput = msg.values;                    \n\nvar out = {\n  values    : MACD.calculate(macdInput)\n}\nmsg =  out\nreturn msg\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "8b31f2b2.a4946"
            ]
        ]
    },
    {
        "id": "86c32d4c.78803",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"values\":[127.75,129.02,132.75,145.4,148.98,137.52,147.38,139.05,137.23,149.3,162.45,178.95,200.35,221.9,243.23,243.52,286.42,280.27],\"fastPeriod\":5,\"slowPeriod\":8,\"signalPeriod\":3,\"SimpleMAOscillator\":false,\"SimpleMASignal\":false}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "54e555e0.e31d7c"
            ]
        ]
    },
    {
        "id": "8b31f2b2.a4946",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b486ed73.33e1b",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "Rate Of Change (ROC)",
        "func": "var moment = global.get('techmodule');\n\nconst ROC = moment.ROC\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : ROC.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "c1ee69f0.0d4318"
            ]
        ]
    },
    {
        "id": "828f077a.ed7f88",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[11045.27,11167.32,11008.61,11151.83,10926.77,10868.12,10520.32,10380.43,10785.14,10748.26,10896.91,10782.95,10620.16,10625.83,10510.95,10444.37,10068.01,10193.39,10066.57,10043.75],\"period\":5}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 220,
        "y": 1040,
        "wires": [
            [
                "b486ed73.33e1b"
            ]
        ]
    },
    {
        "id": "c1ee69f0.0d4318",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3ab86060.4ea31",
        "type": "exchangeratesapi",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "url": "latest",
        "base": "",
        "symbols": "",
        "creds": "3a4aeaa5.e720d6",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "dd61d5c7.f00a28"
            ]
        ]
    },
    {
        "id": "9abb3a6.44104c8",
        "type": "timerswitch",
        "z": "2ad522d6.3d80ce",
        "name": "Hourly Timer",
        "ontopic": "",
        "offtopic": "",
        "onpayload": "1",
        "offpayload": "0",
        "disabled": false,
        "schedules": [
            {
                "on_h": "-1",
                "on_m": "01",
                "on_s": "-1",
                "off_h": "00",
                "off_m": "59",
                "off_s": "-1",
                "valid": false
            }
        ],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "2f2f8377.ee67cc"
            ]
        ]
    },
    {
        "id": "933d3b81.8a1038",
        "type": "firebase modify",
        "z": "e48732d4.55da8",
        "name": "set",
        "firebaseconfig": "abd7d4f.34da828",
        "childpath": "max_value",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1010,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cd0420bc.6e851",
        "type": "inject",
        "z": "e48732d4.55da8",
        "name": "set max value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "182.25",
        "payloadType": "num",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "933d3b81.8a1038"
            ]
        ]
    },
    {
        "id": "113e969e.fe0679",
        "type": "firebase.once",
        "z": "e48732d4.55da8",
        "name": "get max value",
        "firebaseconfig": "e6313113.5cac7",
        "childpath": "max_value",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "f689ca48.eaa578"
            ]
        ]
    },
    {
        "id": "c3c7a240.372c6",
        "type": "inject",
        "z": "e48732d4.55da8",
        "name": "get max value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "113e969e.fe0679"
            ]
        ]
    },
    {
        "id": "f689ca48.eaa578",
        "type": "debug",
        "z": "e48732d4.55da8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "87c8dd65.85963",
        "type": "firebase.once",
        "z": "e48732d4.55da8",
        "name": "get values",
        "firebaseconfig": "abd7d4f.34da828",
        "childpath": "values",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "364cae40.93eb22"
            ]
        ]
    },
    {
        "id": "f684270f.938d18",
        "type": "inject",
        "z": "e48732d4.55da8",
        "name": "get values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "87c8dd65.85963"
            ]
        ]
    },
    {
        "id": "c4371d6b.33881",
        "type": "debug",
        "z": "e48732d4.55da8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "4288d4e1.3566fc",
        "type": "inject",
        "z": "e48732d4.55da8",
        "name": "fetch and push rates",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "77a70e31.b6a11"
            ]
        ]
    },
    {
        "id": "2db8c956.e0ce56",
        "type": "debug",
        "z": "e48732d4.55da8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "77a70e31.b6a11",
        "type": "function",
        "z": "e48732d4.55da8",
        "name": "",
        "func": "msg.params = {\n    base :'USD',\n    symbols : 'USD,AUD,JPY,GBP,EUR,KWD'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "c022b8a1.257d38"
            ]
        ]
    },
    {
        "id": "e7f7317b.e9bee",
        "type": "function",
        "z": "e48732d4.55da8",
        "name": "formater",
        "func": "// msg.params = {};\n// // msg.params.base = 'USD'\n// msg.params.symbols = 'KRW'\n\n// var rate = msg.payload.rates.LKR;\n// return {rate};\n\n\n// var newMsg = { 'payload2': msg.payload.rates };\n// return newMsg;\nconst now = Date.now()\nvar newMsg = { payload: {[now]:msg.payload.rates} };\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 400,
        "wires": [
            [
                "2db8c956.e0ce56",
                "e98b199c.d37c18"
            ]
        ]
    },
    {
        "id": "c022b8a1.257d38",
        "type": "exchangeratesapi",
        "z": "e48732d4.55da8",
        "name": "",
        "url": "latest",
        "base": "",
        "symbols": "",
        "creds": "ec9f480b.2b6f68",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "e7f7317b.e9bee"
            ]
        ]
    },
    {
        "id": "e98b199c.d37c18",
        "type": "firebase modify",
        "z": "e48732d4.55da8",
        "name": "push",
        "firebaseconfig": "abd7d4f.34da828",
        "childpath": "values",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1030,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "364cae40.93eb22",
        "type": "function",
        "z": "e48732d4.55da8",
        "name": "filter",
        "func": "const values = []\n\nObject.keys(msg.payload).map(key=>(\n    values.push(msg.payload[key])\n    ))\n\nvar newMsg = { \n    payload: values\n};\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "c4371d6b.33881"
            ]
        ]
    },
    {
        "id": "838bc6b9.14b218",
        "type": "firebase.once",
        "z": "e48732d4.55da8",
        "name": "get max value",
        "firebaseconfig": "e6313113.5cac7",
        "childpath": "selected_currency",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 620,
        "y": 600,
        "wires": [
            [
                "d37e854b.bf4d98"
            ]
        ]
    },
    {
        "id": "f53c1e82.011d6",
        "type": "inject",
        "z": "e48732d4.55da8",
        "name": "get selected currency",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 600,
        "wires": [
            [
                "838bc6b9.14b218"
            ]
        ]
    },
    {
        "id": "d37e854b.bf4d98",
        "type": "debug",
        "z": "e48732d4.55da8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a21a559.3c3958",
        "type": "inject",
        "z": "e48732d4.55da8",
        "name": "auth with username/pwd",
        "props": [
            {
                "p": "userdata",
                "v": "{\"username\":\"sem6biot\",\"password\":\"hdts05\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "243df070.5384c"
            ]
        ]
    },
    {
        "id": "41159431.541bbc",
        "type": "debug",
        "z": "e48732d4.55da8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "2a57abc3.9da694",
        "type": "firebase.once",
        "z": "e48732d4.55da8",
        "name": "get max value",
        "firebaseconfig": "643bdadb.c056a4",
        "childpath": "user",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 620,
        "y": 680,
        "wires": [
            [
                "73db5b47.3468d4"
            ]
        ]
    },
    {
        "id": "605d43b0.45eddc",
        "type": "inject",
        "z": "e48732d4.55da8",
        "name": "get curent user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "2a57abc3.9da694"
            ]
        ]
    },
    {
        "id": "73db5b47.3468d4",
        "type": "debug",
        "z": "e48732d4.55da8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "243df070.5384c",
        "type": "firebase.once",
        "z": "e48732d4.55da8",
        "name": "get max value",
        "firebaseconfig": "e6313113.5cac7",
        "childpath": "user",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 600,
        "y": 760,
        "wires": [
            [
                "e817c97f.fa7b88"
            ]
        ]
    },
    {
        "id": "e817c97f.fa7b88",
        "type": "function",
        "z": "e48732d4.55da8",
        "name": "",
        "func": "let  iscorrect=false\nif (msg.payload.password==msg.userdata.password && msg.payload.username==msg.userdata.username ){\n    iscorrect=true\n}\nvar newMsg = { payload: iscorrect };\nreturn [newMsg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 760,
        "wires": [
            [
                "41159431.541bbc"
            ]
        ]
    }
]