.flows.json.backup
[
    {
        "id": "b391ed8b.1ea32",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6074636a.21df0c",
        "type": "function",
        "z": "b391ed8b.1ea32",
        "name": "Simple Moving Average (SMA)",
        "func": "var moment = global.get('techmodule');\n\nconst SMA = moment.SMA\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : SMA.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "cb251ba8.b19b7"
            ]
        ]
    },
    {
        "id": "60bb71c2.c39b88",
        "type": "inject",
        "z": "b391ed8b.1ea32",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[127.75,129.02,132.75,145.4,148.98,137.52,147.38,139.05,137.23,149.3,162.45,178.95,200.35,221.9,243.23,243.52,286.42,280.27],\"period\":4}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "6074636a.21df0c"
            ]
        ]
    },
    {
        "id": "cb251ba8.b19b7",
        "type": "debug",
        "z": "b391ed8b.1ea32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "f057f473.089f98",
        "type": "function",
        "z": "b391ed8b.1ea32",
        "name": "MACD",
        "func": "var moment = global.get('techmodule');\nvar MACD = moment.MACD;\n\n\nvar macdInput = msg.values;                    \n\nvar out = {\n  values    : MACD.calculate(macdInput)\n}\nmsg =  out\nreturn msg\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 240,
        "wires": [
            [
                "82e7863a.2c53a"
            ]
        ]
    },
    {
        "id": "56f226a3.7a2e08",
        "type": "inject",
        "z": "b391ed8b.1ea32",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"values\":[127.75,129.02,132.75,145.4,148.98,137.52,147.38,139.05,137.23,149.3,162.45,178.95,200.35,221.9,243.23,243.52,286.42,280.27],\"fastPeriod\":5,\"slowPeriod\":8,\"signalPeriod\":3,\"SimpleMAOscillator\":false,\"SimpleMASignal\":false}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "f057f473.089f98"
            ]
        ]
    },
    {
        "id": "82e7863a.2c53a",
        "type": "debug",
        "z": "b391ed8b.1ea32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "a19622f8.9567d8",
        "type": "function",
        "z": "b391ed8b.1ea32",
        "name": "Rate Of Change (ROC)",
        "func": "var moment = global.get('techmodule');\n\nconst ROC = moment.ROC\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : ROC.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 140,
        "wires": [
            [
                "73874a00.7b687"
            ]
        ]
    },
    {
        "id": "b03e4d57.948568",
        "type": "inject",
        "z": "b391ed8b.1ea32",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"values\":[11045.27,11167.32,11008.61,11151.83,10926.77,10868.12,10520.32,10380.43,10785.14,10748.26,10896.91,10782.95,10620.16,10625.83,10510.95,10444.37,10068.01,10193.39,10066.57,10043.75],\"period\":5}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "a19622f8.9567d8"
            ]
        ]
    },
    {
        "id": "73874a00.7b687",
        "type": "debug",
        "z": "b391ed8b.1ea32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 140,
        "wires": []
    }
]