flows.json
[
    {
        "id": "4d83ec58.e26e84",
        "type": "tab",
        "label": "Firebase",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ad522d6.3d80ce",
        "type": "tab",
        "label": "Forex Functions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3048da4.77ad926",
        "type": "tab",
        "label": "Email",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d92e441.b263cc",
        "type": "ui_group",
        "name": "Exchange Rate",
        "tab": "df9f8e0b.903e2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "df9f8e0b.903e2",
        "type": "ui_tab",
        "name": "Exchange Rates",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9467bbf8.1e0c18",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3a4aeaa5.e720d6",
        "type": "exchangerates-key",
        "name": "Thishani2"
    },
    {
        "id": "ec9f480b.2b6f68",
        "type": "exchangerates-key",
        "name": "Thishani2"
    },
    {
        "id": "abd7d4f.34da828",
        "type": "firebase config",
        "firebaseurl": "senudasampath-bb968-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "e6313113.5cac7",
        "type": "firebase config",
        "firebaseurl": "sem-6b-iot-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "643bdadb.c056a4",
        "type": "firebase config",
        "firebaseurl": "sem-6b-iot-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "6ef5f71b.98f1b8",
        "type": "firebase config",
        "firebaseurl": "sem-6b-iot-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "a1367960.5c4dd8",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "Simple Moving Average (SMA)",
        "func": "var moment = global.get('techmodule');\n\nconst SMA = moment.SMA\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : SMA.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "77d9c891.b79028"
            ]
        ]
    },
    {
        "id": "6220ff02.4761a",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[127.85,129.02,132.75,145.4,148.98,137.52,147.38,139.05,137.23,149.3,162.45,178.95,200.35,221.9,243.23,243.52,286.42,280.27],\"period\":4}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "a1367960.5c4dd8"
            ]
        ]
    },
    {
        "id": "77d9c891.b79028",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "54e555e0.e31d7c",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "MACD",
        "func": "var moment = global.get('techmodule');\nvar MACD = moment.MACD;\n\n\nvar macdInput = msg.values;                    \n\nvar out = {\n  values    : MACD.calculate(macdInput)\n}\nmsg =  out\nreturn msg\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "8b31f2b2.a4946"
            ]
        ]
    },
    {
        "id": "86c32d4c.78803",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"values\":[127.75,129.02,132.75,145.4,148.98,137.52,147.38,139.05,137.23,149.3,162.45,178.95,200.35,221.9,243.23,243.52,286.42,280.27],\"fastPeriod\":5,\"slowPeriod\":8,\"signalPeriod\":3,\"SimpleMAOscillator\":false,\"SimpleMASignal\":false}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "54e555e0.e31d7c"
            ]
        ]
    },
    {
        "id": "8b31f2b2.a4946",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "b486ed73.33e1b",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "Rate Of Change (ROC)",
        "func": "var moment = global.get('techmodule');\n\nconst ROC = moment.ROC\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : ROC.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "c1ee69f0.0d4318"
            ]
        ]
    },
    {
        "id": "828f077a.ed7f88",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[11045.27,11167.32,11008.61,11151.83,10926.77,10868.12,10520.32,10380.43,10785.14,10748.26,10896.91,10782.95,10620.16,10625.83,10510.95,10444.37,10068.01,10193.39,10066.57,10043.75],\"period\":5}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "b486ed73.33e1b"
            ]
        ]
    },
    {
        "id": "c1ee69f0.0d4318",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "bc95624b.1f5fe",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a2c60656.85d268"
            ]
        ]
    },
    {
        "id": "e947f495.e22668",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 60,
        "wires": []
    },
    {
        "id": "a2c60656.85d268",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "func": "msg.params = {};\n// msg.params.base = 'USD'\nmsg.params.symbols = 'AUD'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "3ab86060.4ea31"
            ]
        ]
    },
    {
        "id": "dd61d5c7.f00a28",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "func": "// msg.params = {};\n// // msg.params.base = 'USD'\n// msg.params.symbols = 'KRW'\n\n// var rate = msg.payload.rates.LKR;\n// return {rate};\n\n\n// var newMsg = { 'payload2': msg.payload.rates };\n// return newMsg;\n\nvar newMsg = { payload: msg.payload.rates };\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 60,
        "wires": [
            [
                "e947f495.e22668"
            ]
        ]
    },
    {
        "id": "3ab86060.4ea31",
        "type": "exchangeratesapi",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "url": "latest",
        "base": "",
        "symbols": "",
        "creds": "3a4aeaa5.e720d6",
        "x": 520,
        "y": 60,
        "wires": [
            [
                "dd61d5c7.f00a28"
            ]
        ]
    },
    {
        "id": "81ec3326.0bd8e8",
        "type": "firebase.once",
        "z": "4d83ec58.e26e84",
        "name": "get values",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "values",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "ffddca73.d1678"
            ]
        ]
    },
    {
        "id": "b73d2405.d495f",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "get values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "81ec3326.0bd8e8"
            ]
        ]
    },
    {
        "id": "9b5b3bbb.e2d9",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "ffddca73.d1678",
        "type": "function",
        "z": "4d83ec58.e26e84",
        "name": "filter",
        "func": "const values = []\n\nObject.keys(msg.payload).map(key=>(\n    values.push(msg.payload[key])\n    ))\n\nvar newMsg = { \n    payload: values\n};\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 460,
        "wires": [
            [
                "9b5b3bbb.e2d9"
            ]
        ]
    },
    {
        "id": "98dfe73.3b25298",
        "type": "firebase.once",
        "z": "4d83ec58.e26e84",
        "name": "get selected currency",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "selected_currency",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 640,
        "y": 540,
        "wires": [
            [
                "c90823.4e389fe"
            ]
        ]
    },
    {
        "id": "b2d533fb.f0c03",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "get selected currency",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "98dfe73.3b25298"
            ]
        ]
    },
    {
        "id": "c90823.4e389fe",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "f1a44017.90ab08",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "auth with username/pwd",
        "props": [
            {
                "p": "userdata",
                "v": "{\"username\":\"sem6biot\",\"password\":\"hdts05\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "c34533df.488658"
            ]
        ]
    },
    {
        "id": "45fe98ed.964918",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 700,
        "wires": []
    },
    {
        "id": "8603f53.8567b88",
        "type": "firebase.once",
        "z": "4d83ec58.e26e84",
        "name": "get current user",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "user",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 620,
        "y": 620,
        "wires": [
            [
                "25f02bcf.44f5c4"
            ]
        ]
    },
    {
        "id": "e2bddafa.5c0eb",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "get curent user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "8603f53.8567b88"
            ]
        ]
    },
    {
        "id": "25f02bcf.44f5c4",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 620,
        "wires": []
    },
    {
        "id": "c34533df.488658",
        "type": "firebase.once",
        "z": "4d83ec58.e26e84",
        "name": "get current user",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "user",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 600,
        "y": 700,
        "wires": [
            [
                "8e740a58.c2bd88"
            ]
        ]
    },
    {
        "id": "8e740a58.c2bd88",
        "type": "function",
        "z": "4d83ec58.e26e84",
        "name": "auth",
        "func": "let  iscorrect=false\nif (msg.payload.password==msg.userdata.password && msg.payload.username==msg.userdata.username ){\n    iscorrect=true\n}\nvar newMsg = { payload: iscorrect };\nreturn [newMsg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 700,
        "wires": [
            [
                "45fe98ed.964918"
            ]
        ]
    },
    {
        "id": "1229ee47.933062",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "Rate Of Change (ROC)",
        "func": "var moment = global.get('techmodule');\n\nconst ROC = moment.ROC\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : ROC.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "8771f92e.bdbde8"
            ]
        ]
    },
    {
        "id": "27a88b3.16bec74",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[11045.27,11167.32,11008.61,11151.83,10926.77,10868.12,10520.32,10380.43,10785.14,10748.26,10896.91,10782.95,10620.16,10625.83,10510.95,10444.37,10068.01,10193.39,10066.57,10043.75],\"period\":5}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "501c2b06.654374"
            ]
        ]
    },
    {
        "id": "8771f92e.bdbde8",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "5ecc8d77.851124",
        "type": "firebase.on",
        "z": "4d83ec58.e26e84",
        "name": "fetch selected currency in init and save it globaly",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "selected_currency",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 320,
        "y": 40,
        "wires": [
            [
                "4525f06f.c4f87"
            ]
        ]
    },
    {
        "id": "4525f06f.c4f87",
        "type": "change",
        "z": "4d83ec58.e26e84",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected_currency",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b957780.deff688",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "filter",
        "func": "const values = []\n\n\nObject.keys(msg.payload).map(key=>{\n    let currency_ob=Object.values(msg.payload[key])[0][global.get(\"selected_currency\")];\n    values.push(currency_ob);\n    })\n\nvar newMsg = { \n    values: {\n        \"value\":values,\n         \"period\": 5\n    }\n};\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "1229ee47.933062"
            ]
        ]
    },
    {
        "id": "501c2b06.654374",
        "type": "firebase.once",
        "z": "2ad522d6.3d80ce",
        "name": "get values",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "values",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [
            {
                "name": "orderByValue",
                "value": "",
                "valType": ""
            },
            {
                "name": "limitToLast",
                "value": "30",
                "valType": "str"
            }
        ],
        "x": 290,
        "y": 460,
        "wires": [
            [
                "b957780.deff688"
            ]
        ]
    },
    {
        "id": "c38ab726.bfede8",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[11045.27,11167.32,11008.61,11151.83,10926.77,10868.12,10520.32,10380.43,10785.14,10748.26,10896.91,10782.95,10620.16,10625.83,10510.95,10444.37,10068.01,10193.39,10066.57,10043.75],\"period\":5}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "7c9db6ac.25ef78"
            ]
        ]
    },
    {
        "id": "eac65389.25b28",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "filter",
        "func": "const values = []\n\n\nObject.keys(msg.payload).map(key=>{\n    let currency_ob=Object.values(msg.payload[key])[0][global.get(\"selected_currency\")];\n    values.push(currency_ob);\n    })\n\nvar newMsg = { \n    values: {\n        \"value\":values,\n        \"fastPeriod\": 5,\n        \"slowPeriod\": 8,\n        \"signalPeriod\": 3,\n        \"SimpleMAOscillator\": false,\n        \"SimpleMASignal\": false\n    }\n};\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "267e2fa8.83558"
            ]
        ]
    },
    {
        "id": "7c9db6ac.25ef78",
        "type": "firebase.once",
        "z": "2ad522d6.3d80ce",
        "name": "get values",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "values",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [
            {
                "name": "orderByValue",
                "value": "",
                "valType": ""
            },
            {
                "name": "limitToLast",
                "value": "30",
                "valType": "str"
            }
        ],
        "x": 290,
        "y": 560,
        "wires": [
            [
                "eac65389.25b28"
            ]
        ]
    },
    {
        "id": "85272627.73e938",
        "type": "inject",
        "z": "2ad522d6.3d80ce",
        "name": "Send Array",
        "props": [
            {
                "p": "values",
                "v": "{\"value\":[11045.27,11167.32,11008.61,11151.83,10926.77,10868.12,10520.32,10380.43,10785.14,10748.26,10896.91,10782.95,10620.16,10625.83,10510.95,10444.37,10068.01,10193.39,10066.57,10043.75],\"period\":5}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "2d61a6e1.ee06da"
            ]
        ]
    },
    {
        "id": "d8cb1a43.0b2148",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "filter",
        "func": "const values = []\n\n\nObject.keys(msg.payload).map(key=>{\n    let currency_ob=Object.values(msg.payload[key])[0][global.get(\"selected_currency\")];\n    values.push(currency_ob);\n    })\n\nvar newMsg = { \n    values: {\n        \"values\":values,\n        \"fastPeriod\": 5,\n    \"slowPeriod\": 8,\n    \"signalPeriod\": 3,\n    \"SimpleMAOscillator\": false,\n    \"SimpleMASignal\": false\n    }\n};\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "20f10d0.45435f4"
            ]
        ]
    },
    {
        "id": "2d61a6e1.ee06da",
        "type": "firebase.once",
        "z": "2ad522d6.3d80ce",
        "name": "get values",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "values",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [
            {
                "name": "orderByValue",
                "value": "",
                "valType": ""
            },
            {
                "name": "limitToLast",
                "value": "30",
                "valType": "str"
            }
        ],
        "x": 290,
        "y": 660,
        "wires": [
            [
                "d8cb1a43.0b2148"
            ]
        ]
    },
    {
        "id": "267e2fa8.83558",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "Simple Moving Average (SMA)",
        "func": "var moment = global.get('techmodule');\n\nconst SMA = moment.SMA\nlet period = msg.values.period; \nlet values = msg.values.value;                    \n\nvar out = {\n  values    : SMA.calculate({period : period, values : values})\n}\nmsg =  out\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 560,
        "wires": [
            [
                "43d2a492.567dfc"
            ]
        ]
    },
    {
        "id": "43d2a492.567dfc",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "20f10d0.45435f4",
        "type": "function",
        "z": "2ad522d6.3d80ce",
        "name": "MACD",
        "func": "var moment = global.get('techmodule');\nvar MACD = moment.MACD;\n\n\nvar macdInput = msg.values;                    \n\nvar out = {\n  values    : MACD.calculate(macdInput)\n}\nmsg =  out\nreturn msg\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 660,
        "wires": [
            [
                "b0a69be3.457808"
            ]
        ]
    },
    {
        "id": "b0a69be3.457808",
        "type": "debug",
        "z": "2ad522d6.3d80ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "e3fe7a46.d18458",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "fetch and push rates",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 780,
        "wires": [
            [
                "a2d3233a.96fd4"
            ]
        ]
    },
    {
        "id": "a2d3233a.96fd4",
        "type": "function",
        "z": "4d83ec58.e26e84",
        "name": "Query",
        "func": "msg.params = {\n        symbols : 'USD,AUD,JPY,GBP,EUR,KWD,LKR'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "e0c16b3b.e49258"
            ]
        ]
    },
    {
        "id": "dff0df42.44ea9",
        "type": "function",
        "z": "4d83ec58.e26e84",
        "name": "formater",
        "func": "const rates = msg.payload.rates;\nconst LKR = rates[\"LKR\"]\nconst newRates = {\n    USD:parseFloat((LKR/rates.USD).toFixed(3)),\n    AUD:parseFloat((LKR/rates.AUD).toFixed(3)),\n    JPY:parseFloat((LKR/rates.JPY).toFixed(3)),\n    GBP:parseFloat((LKR/rates.GBP).toFixed(3)),\n    EUR:parseFloat((LKR/rates.EUR).toFixed(3)),\n    KWD:parseFloat((LKR/rates.KWD).toFixed(3)),\n}\n\n\nconst now = Date.now()\nvar newMsg = { formatedPayload: {[now]:newRates} };\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 780,
        "wires": [
            [
                "e2529988.3231c8"
            ]
        ]
    },
    {
        "id": "e0c16b3b.e49258",
        "type": "exchangeratesapi",
        "z": "4d83ec58.e26e84",
        "name": "",
        "url": "latest",
        "base": "",
        "symbols": "",
        "creds": "ec9f480b.2b6f68",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "dff0df42.44ea9",
                "8d919997.754878"
            ]
        ]
    },
    {
        "id": "75c18ffc.94eb8",
        "type": "firebase modify",
        "z": "4d83ec58.e26e84",
        "name": "push",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "values",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1150,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "d9507d77.0f38d",
        "type": "firebase.on",
        "z": "4d83ec58.e26e84",
        "name": "fetch ceil in init and save it globaly",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "ceil",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "a370db36.012b58"
            ]
        ]
    },
    {
        "id": "a370db36.012b58",
        "type": "change",
        "z": "4d83ec58.e26e84",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ceil",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "57a1945b.aa7cac",
        "type": "firebase.on",
        "z": "4d83ec58.e26e84",
        "name": "fetch floor in init and save it globaly",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "floor",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "de164255.b0d84"
            ]
        ]
    },
    {
        "id": "de164255.b0d84",
        "type": "change",
        "z": "4d83ec58.e26e84",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "floor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "950f9e51.ad732",
        "type": "function",
        "z": "4d83ec58.e26e84",
        "name": "ceil/floor checker",
        "func": "const latest = Object.values(msg.formatedPayload)[0];\nconst last =  Object.values(Object.values(msg.payload)[0])[0];\n\nconst selectedNow = last[global.get(\"selected_currency\")];\nconst selectedLast = last[global.get(\"selected_currency\")];\nlet status = \"\";\nif(selectedNow==selectedLast){\n    status = \"no_change\"\n}else{\nconst isWentUp=selectedNow>selectedLast;\nif(isWentUp){\n    const change = (selectedNow-selectedLast)/selectedLast\n    if(change>=global.get(\"ceil\")/100){\n        status=\"ceiling_crossed\"\n    }else{\n        status=\"went_up\"\n    }\n}else{\n    const change = (selectedLast-selectedNow)/selectedLast   \n    if(change>=global.get(\"floor\")/100){\n        status=\"floor_crossed\"\n    }else{\n        status=\"went_down\"\n    }\n}\n}\nreturn {\nlatest,\nlast,\nselectedNow,\nselectedLast,\nstatus,\npayload:msg.formatedPayload\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 960,
        "wires": [
            [
                "ffb98f8a.985",
                "75c18ffc.94eb8"
            ]
        ]
    },
    {
        "id": "8cbcc465.7ad078",
        "type": "firebase modify",
        "z": "4d83ec58.e26e84",
        "name": "set",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "selected_currency",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1010,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f31e761.2899b88",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "set selected currency",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "USD",
        "payloadType": "str",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "8cbcc465.7ad078"
            ]
        ]
    },
    {
        "id": "27290d4a.21b602",
        "type": "firebase modify",
        "z": "4d83ec58.e26e84",
        "name": "set",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "ceil",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5d701eeb.74516",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "set ceil %",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "27290d4a.21b602"
            ]
        ]
    },
    {
        "id": "7518841f.0e3c7c",
        "type": "firebase modify",
        "z": "4d83ec58.e26e84",
        "name": "set",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "floor",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1010,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8d37634b.32a3c",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "set floor %",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "7518841f.0e3c7c"
            ]
        ]
    },
    {
        "id": "ffb98f8a.985",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 960,
        "wires": []
    },
    {
        "id": "e2529988.3231c8",
        "type": "firebase.once",
        "z": "4d83ec58.e26e84",
        "name": "get last value",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "values",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [
            {
                "name": "orderByValue",
                "value": "",
                "valType": ""
            },
            {
                "name": "limitToLast",
                "value": "1",
                "valType": "str"
            }
        ],
        "x": 890,
        "y": 860,
        "wires": [
            [
                "950f9e51.ad732"
            ]
        ]
    },
    {
        "id": "bed1b78e.2a6fc8",
        "type": "inject",
        "z": "3048da4.77ad926",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "This is test",
        "payloadType": "str",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "f2886c22.c60e2"
            ]
        ]
    },
    {
        "id": "f2886c22.c60e2",
        "type": "e-mail",
        "z": "3048da4.77ad926",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": false,
        "tls": false,
        "name": "mkt.sampath97@gmail.com",
        "dname": "",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "5bcb85fe.3e3bac",
        "type": "timerswitch",
        "z": "4d83ec58.e26e84",
        "name": "Hourly Timer",
        "ontopic": "ON",
        "offtopic": "ON",
        "onpayload": "1",
        "offpayload": "0",
        "disabled": true,
        "schedules": [
            {
                "on_h": "00",
                "on_m": "05",
                "on_s": "00",
                "off_h": "01",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "02",
                "on_m": "05",
                "on_s": "00",
                "off_h": "03",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "04",
                "on_m": "05",
                "on_s": "00",
                "off_h": "05",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "06",
                "on_m": "05",
                "on_s": "00",
                "off_h": "07",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "08",
                "on_m": "05",
                "on_s": "00",
                "off_h": "09",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "10",
                "on_m": "05",
                "on_s": "00",
                "off_h": "11",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "12",
                "on_m": "05",
                "on_s": "00",
                "off_h": "13",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "14",
                "on_m": "05",
                "on_s": "00",
                "off_h": "15",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "16",
                "on_m": "05",
                "on_s": "00",
                "off_h": "17",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "18",
                "on_m": "05",
                "on_s": "00",
                "off_h": "19",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "20",
                "on_m": "05",
                "on_s": "00",
                "off_h": "21",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            },
            {
                "on_h": "22",
                "on_m": "05",
                "on_s": "00",
                "off_h": "23",
                "off_m": "05",
                "off_s": "00",
                "valid": true
            }
        ],
        "x": 230,
        "y": 860,
        "wires": [
            [
                "a2d3233a.96fd4"
            ]
        ]
    },
    {
        "id": "c70f8f7b.7ccc5",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "fetch and push rates",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"USD\":[198.05,198.49,199.78,198.05,198.57,198.93,198.13,197.19,198.52,197.43,197.3,198.46,199.25,197.41,199.27,199.14,199.7,199.36,198.44,198.2,198.49,197.18,199.46,198.19,199.6,198.47,197.96,199.85,198.3,199.17],\"JYP\":[1.8,1.77,1.8,1.77,1.77,1.79,1.79,1.81,1.79,1.8,1.79,1.81,1.81,1.8,1.82,1.78,1.8,1.8,1.79,1.8,1.81,1.78,1.78,1.79,1.8,1.81,1.79,1.8,1.82,1.81],\"EUR\":[238.27,239.72,239.47,242.28,236.03,235.16,240.2,239.92,241.46,238.91,240.87,237.94,242.98,239.2,240.28,238.48,236.34,237.55,237.06,238.59,235.14,238.4,237.64,240.18,239.66,236.69,242.28,235.07,241.14,237.81],\"AUD\":[153.36,153.62,153.11,152.73,152.17,154.26,150.96,150.07,152.41,152.09,153.71,151.36,150.08,154.13,150.24,150.67,152.71,154.12,151.16,151.3,151.53,150.7,154.42,154.79,151,154.83,153.66,151.98,151.92,150.66],\"KWD\":[656.35,659.39,657.09,655.26,656.47,657.58,655.77,654.36,659.6,657.59,658.24,658.41,655,658.28,659.41,658.59,656.84,659.12,659.33,656.17,654.45,654.45,656.83,654.83,655.65,659.65,658.7,654.71,659.54,658.38],\"GBP\":[281.41,278.46,278.7,281.36,277.73,276.23,282.15,278.14,278.93,280.43,282.34,282.04,276.65,281.72,282.59,281.4,276.42,276.96,280.09,278.19,279.96,276.24,278.84,279.65,282.16,282.96,276.06,276.4,278.5,282.44]}",
        "payloadType": "json",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "f61afb9.5ea0808",
                "98be2c9a.61472"
            ]
        ]
    },
    {
        "id": "f61afb9.5ea0808",
        "type": "function",
        "z": "4d83ec58.e26e84",
        "name": "formater",
        "func": "\n\nconst rates = msg.payload;\nconst index = global.get(\"tempIndex\")\nconst newRates = {\n    USD:rates[\"USD\"][index],\n    AUD:rates[\"AUD\"][index],\n    JPY:rates[\"JYP\"][index],\n    GBP:rates[\"GBP\"][index],\n    EUR:rates[\"EUR\"][index],\n    KWD:rates[\"KWD\"][index],\n}\n\n\nconst now = Date.now()\nvar newMsg = { payload: {[now]:newRates} };\nreturn [newMsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 1140,
        "wires": [
            [
                "d5505067.66613",
                "4ba9143d.8af14c"
            ]
        ]
    },
    {
        "id": "4ba9143d.8af14c",
        "type": "firebase modify",
        "z": "4d83ec58.e26e84",
        "name": "push",
        "firebaseconfig": "6ef5f71b.98f1b8",
        "childpath": "values",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 850,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "d5505067.66613",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c239dd8c.4da3e",
        "type": "change",
        "z": "4d83ec58.e26e84",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempIndex",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "98be2c9a.61472",
        "type": "function",
        "z": "4d83ec58.e26e84",
        "name": "",
        "func": "var newIndex = global.get(\"tempIndex\")+1;\n\n\nreturn {payload:newIndex};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 1180,
        "wires": [
            [
                "c239dd8c.4da3e",
                "bba01c5e.61f07"
            ]
        ]
    },
    {
        "id": "ce5550aa.953ed",
        "type": "inject",
        "z": "4d83ec58.e26e84",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1260,
        "wires": [
            [
                "b4305e4.25c24a"
            ]
        ]
    },
    {
        "id": "b4305e4.25c24a",
        "type": "change",
        "z": "4d83ec58.e26e84",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempIndex",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "bba01c5e.61f07",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1220,
        "wires": []
    },
    {
        "id": "695304d7.e3f1ac",
        "type": "comment",
        "z": "4d83ec58.e26e84",
        "name": "## This is just dummy nodes",
        "info": "## This is just dummy nodes",
        "x": 240,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8d919997.754878",
        "type": "debug",
        "z": "4d83ec58.e26e84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 940,
        "wires": []
    }
]